@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.nav button {
  all: unset;
  margin-top: 5px;
}

.nav img {
  border-radius: 50px;
}

#search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  
  #google-logo {
    height: 92px;
    width: 272px;
    margin-bottom: 20px;
  }
  
  #search-form {
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px;
    width: 50vw;
    max-width: 600px;
  }
  
  #search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 18px;
    margin-right: 16px;
  }
  
  #search-button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.5;
  }

  .icons {
    display: flex;
    flex-direction: row;
  }
  
  #voice-search,
  #camera-search {
    align-items: center;
    /* margin-left: 5px; */
    margin-right: 5px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  #voice-search:hover,
  #camera-search:hover {
    background-color: #f2f2f2;
  }
  
  #voice-search img,
  #camera-search img {
    height: 24px;
    width: 24px;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 44px;
    background-color: #f8f9fa;
    color: #3c4043;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin: 0 0.5rem;
    cursor: pointer;
    outline: none;
  }

  .search-button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  .languages {
    margin-top: 20px;
  }

  .languages a{
    text-decoration: none;
  }

  .footer-top {
    display: flex;
    background-color: #f2f2f2;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
    width: 100%;
    padding: 10px;
    align-items: center;
  }

  .footer-top p {
    margin-left: 10px;
  }
  
  .footer-bottom {
    display: flex;
    background-color: #f2f2f2;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
    width: 100%;
    padding: 10px;
    align-items: center;
    gap: 65vw;
  }

  .footer-bottom .about {
    display: flex;
    flex-direction: row;
    order: 1;
    gap: 10px;
    margin-left: 10px;
  }

  .footer-bottom .privacy {
    display: flex;
    flex-direction: row;
    order: 2;
    gap: 10px;
  }